version: "3"
services:
  app:
    image: node-alpine-worker
    command: pnpm start:from:docker
    volumes:
      - .:/app
      - /app/node_modules
      - /app/dist
    working_dir: /app
    ports:
      - 4200:4200
    deploy:
      resources:
        limits:
          cpus: "1.0"
